<!doctype html>

<html>
<head>
  <title>GroupLoops</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="css/styles.css">
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900,200' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="container">
    <div class="jumbotron" style="background-image: url('img/sky.png')">
      <center>
      <h1>Your Group</h1>
      <p>You have been sorted into the following group!</p>
      </center>
    </div>
    
    <div id = "grouppage">
    <div class= "profimg">
      <img class = "profileimg" src = "img/profile_male.PNG" >
      <div class = "info">
        <p>Member 1</p>
        <p>Email</p>
        <p>Description</p>
      </div>
    </div>

    <div class= "profimg">
      <img class = "profileimg" src = "img/profile_female.PNG" >
      <div class = "info">
        <p>Member 1</p>
        <p>Email</p>
        <p>Description</p>
      </div>
    </div>

    <div class= "profimg">
      <img class = "profileimg" src = "img/profile_male.PNG" >
      <div class = "info">
        <p>Member 1</p>
        <p>Email</p>
        <p>Description</p>
      </div>
    </div>

    <div class= "profimg">
      <img class = "profileimg" src = "img/profile_female.PNG" >
      <div class = "info">
        <p>Member 1</p>
        <p>Email</p>
        <p>Description</p>
      </div>
    </div>

  </div>




  </div>

  <div class="container">
    
  </div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
