<!doctype html>

<html>
<head>
	<title>GroupLoops</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron" style="background-image: url('img/sky.png')">
      <center>
      <h1>GroupLoops</h1>
      <p>A simple utility to form optimized groups for projects or studying.</p>
      </center>
    </div>

    <div id="formDiv">
      <form role="form">
        <div class="form-group">
          <label for="name">Class Name</label>
          <input type="text" class="form-control" id="name" placeholder="Example: COGS 121">
        </div>
        <div class="form-group">
          <label for="numStudents">Number of Students</label>
          <input type="number" class="form-control" id="numStudents" placeholder="Example: 42">
        </div>
        <div class="form-group">
          <label for="groupSize">Desired Group Size</label>
          <input type="number" class="form-control" id="groupSize" placeholder="Example: 4">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Extra questions?
          </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

    </div>
  </div>

  <div class="container">
    
  </div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
