<!doctype html>

<html>
<head>
	<title>GroupLoops</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body class="welcome">
  <div class="container">
    <div class="welcomeLogo">
      <h1>GroupLoops</h1>
      <p>A simple utility to form optimized groups for projects or studying.</p>
      <p class="loginLinks">
        I am a:
        <a href="professor">Professor</a>
        <a id="studentLoginLink">Student</a>
      </p>
      <div class="well-sm hidden" id="studentLoginWell">
        <form class="form-inline" id="studentForm" action="checkCourseId">
          <div class="form-group">
            <label for="classId">Course Id:</label>
            <input type="text" name="courseId" class="form-control" required>
          </div>
          <div class="form-group">
            <input type="submit" class="form-control">
          </div>
        </form>
      </div>
      <div class="alert alert-danger" style="display: none;" id="invalidCourseIdWarning">
        <strong>Warning!</strong> Course Id does not exist. Please enter a valid course id.
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="http://malsup.github.io/min/jquery.form.min.js"></script>
  <script>
    $("#studentLoginLink").click(function(e) {
      e.preventDefault();
      $("#studentLoginWell").removeClass("hidden");
      return false;
    });

    // check class id
    $("#studentForm").ajaxForm({
      semantic: true,
      success: redirect
    });

    function redirect(rspTxt) {
      if(rspTxt.err)
        $("#invalidCourseIdWarning").show();
      else
        document.location = "/student?" + $("#studentForm").formSerialize();
    }
  
  </script>
</body>
</html>
